.tweet_header{
  height: 44px;
  width: 100%;
  padding-top: 10px;
  padding-left: 7px;
}

.toukou-btn{
  padding: 5px 5px;
  background-color: #ed4933;


}

.tweet{
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left: 25px;
  border: solid 1px #8d9ad8;
  background-color: #9fdfd8;
  width: 370px;
  padding-left: 0px;
  box-sizing: border-box;
}


.profile{
  height: 90px;
  width: 100%;
  background-color: ;
}

.icon_image{
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #7ad1c7;
  float: left;
}

.tweet_name{
  height: 30px;
  width: 200px;
  background-color: ;
  float: left;
  margin-left: 55px;
  margin-top: 40px;
  color: #2e3842;
  font-size: large;
  font-weight: bold;
}

.country{
  height: 30px;
  background-color: ;
  margin-top: 30px;
  margin-left: 20px;
  color: #2e3842;
  font-weight: bold;
}

.genre{
  height: 30px;
  background-color: ;
  margin-left: 20px;
  color: #2e3842;
  font-weight: bold;
}

.text{
  height: 360px;
  width: 348px;
  background-color: #f2f2f2;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2e3842;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn-group2{
  margin-left: 245px;
  margin-bottom: 10px;
}
