.mypage{
  margin-top:44px;
}

.tweet_user{
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left:2px;
  border: solid 1px #8d9ad8;
  background-color: #9fdfd8;
  width: 370px;
  padding-left: 0px;
  box-sizing: border-box;
}

.itiran{
  padding-left: 5px;
  padding-top: 5px;
}

.mypage-country{
  height: 30px;
  background-color: ;
  margin-top: 10px;
  margin-left: 20px;
  color: ;
  font-weight: ;
}

.mypage-genre{
  height: 30px;
  background-color: ;
  margin-left: 20px;
  color: ;
  font-weight: ;
}

.cost{
  height: 30px;
  background-color: ;
  margin-left: 20px;
  color: ;
  font-weight: ;
}

.term{
  height: 30px;
  background-color: ;
  margin-left: 20px;
  color: ;
  font-weight: ;
}

.mypage-text{
  height: 360px;
  width: 348px;
  background-color: #f2f2f2;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #2e3842;
}

.btn-group{
  margin-left:153px;
  margin-bottom: 10px;
}
