      <div id="page-wrapper">
        <!-- Banner -->
          <section id="banner">
            <img src="banner.jpg" alt="test" class="test-img">
            <div class="inner">
              <h2>Ryu-tatsu</h2>
              <p>留学に行きたい人のための<br/>
              コミュニティアプリ</p>
              <ul class="actions">
                <li><a href="#" class="button special">Sign Up</a></li>
                <li><a href="#" class="button fit">Log In</a></li>
              </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
          </section>

        <!-- One -->
          <section id="one" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <h2>留学って、なんだ？</h2>
                <p>海の向こうが気になる。<br/>
                ネットの画像だけじゃなく、その国の景色を見てみたい。<br />
                でもそもそも留学ってなんだろう？<br/>
                答えなんてないのはわかってるけど<br/>
                ちょっと一緒に考えてみませんか？</p>
              </header>
            </div>
          </section>

        <!-- Two -->
          <section id="two" class="wrapper alt style2">
            <section class="spotlight">
              <div class="image"><img src="pic01.jpg" alt="" /></div><div class="content">
                <h2>あ</h2>
                <p>あ</p>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><img src="pic02.jpg" alt="" /></div><div class="content">
                <h2>あ</h2>
                <p>あ</p>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><img src="pic03.jpg" alt="" /></div><div class="content">
                <h2>あ</h2>
                <p>あ</p>
              </div>
            </section>
          </section>

        <!-- Three -->
          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>留学style</h2>
                <p></p>
              </header>
              <ul class="features">
                <li class="icon fa-flag-o">
                  <h3>学部留学</h3>
                  <p>現地の大学に学部生として入学し、専門分野について学ぶことができる。<br />
                勉強以外にも、スポーツや芸術、音楽など、自分の関心が高い分野の専門性を高めることもできる。</p>
              </li>
                <li class="icon fa-paper-plane-o">
                  <h3>語学留学</h3>
                  <p>語学力の向上を目的とし、１週間単位から始めることができる。</p>
                </li>
                <li class="icon fa-laptop">
                  <h3>ボランティア</h3>
                  <p>環境保護・災害援助・福祉などの活動を行うNGO・NPOなどの団体と共に<br />地域コミュニティとの交流を通じてボランティア活動を行う。</p>
                </li>
                <li class="icon fa-code">
                  <h3>ワーキングホリデー</h3>
                  <p>海外で働くことができる制度。カナダやオーストラリア、ニュージーランド、イギリスなど。</p>
                </li>
                <li class="icon fa-headphones">
                  <h3>インターンシップ</h3>
                  <p>学生が現地の企業で研修生として、働くことができる制度。<br />
                  語学学校・大学からの紹介・自己開拓など探し方は様々。</p>
                </li>
                <li class="icon fa-heart-o">
                  <h3>バックパック</h3>
                  <p>バッグ一つで世界中を旅する、他とは一線を画する留学スタイル。</p>
                </li>
              </ul>
            </div>
          </section>

        <!-- CTA -->
          <section id="cta" class="wrapper style4">
            <div class="inner">
              <header>
                <h2>自分なりの留学styleを<br />探しに行こう。</h2>
                <p>始まりは、いつもチャンスだ。</p>
              </header>
              <ul class="actions vertical">
                <li><a href="#" class="button fit special">Sign Up</a></li>
                <li><a href="#" class="button fit">Log In</a></li>
              </ul>
            </div>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>



