<!DOCTYPE html>
<html>
  <head>
    <title>Ryu-tatsu</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <header id="header" class="alt">
      <h1><a href="index.html">Ryu-tatsu</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html"></a></li>
                <li><a href="elements.html"></a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>


    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
